# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../:\Users\jorge\Desktop\Calidad Integración Continua\.idea/dataSources/
/dataSources.local.xml
